/* Skill bar animations */
.skills .box .percent div {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: maroon;
    width: 0; /* start at 0 */
    transition: width 1s ease-in-out; /* smooth transition */
}
