*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    background-image: url(images/car.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    padding: 20px;
}

/* MAIN CONTAINER */
.container{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0,0,0,0.1);
}

/* LEFT SIDE */
.container .left-side{
    background: maroon;
    padding: 40px;
}

.profiletext{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(225,225,225,0.2);
}

.profiletext .imgbx{
    width: 200px;
    height: 200px;
    border-radius: 50px;
    overflow: hidden;
}

.profiletext .imgbx img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profiletext h2{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-align: center;
    font-weight: 600;
}

.profiletext h2 span{
    font-size: 0.8em;
    font-weight: 300;
}

.contactinfo{
    padding-top: 40px;
}

.title{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

.contactinfo ul li{
    list-style: none;
    margin: 10px 0;
    cursor: pointer;
}

.contactinfo ul li .icon{
    width: 19px;
    font-size: 18px;
    color: black;
}

.contactinfo ul li span{
    color: #fff;
    font-weight: 300;
}

.contactinfo.language .percent,
.skills .box .percent{
    width: 100%;
    height: 6px;
    background: #081921;
    margin-top: 5px;
}

.contactinfo.language .percent div{
    height: 100%;
    background: white;
}

/* RIGHT SIDE */
.container .right-side{
    background: #fff;
    padding: 40px;
}

.about{
    margin-bottom: 50px;
}

.title2{
    color: black;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.about .box{
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

.about .box .year_company{
    min-width: 150px;
}

.about .box .year_company h5{
    text-transform: uppercase;
    color: maroon;
    font-weight: 600;
}

.skills .box{
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    margin: 15px 0;
}

.skills .box .percent{
    height: 10px;
    background: #f0f0f0;
    position: relative;
}

.skills .box .percent div{
    background: maroon;
    height: 100%;
    width: 0;
    transition: width 1s ease-in-out;
}

.interest ul{
    display: grid;
    grid-template-columns: repeat(4,1fr);
}

.interest ul li{
    list-style: none;
    margin: 10px 0;
    color: #333;
    font-weight: 500;
}

/* TABLET FIX */
@media (max-width: 1000px){
    .container{
        grid-template-columns: 1fr;
        margin: 20px;
        min-height: auto;
    }

    .interest ul{
        grid-template-columns: repeat(2,1fr);
    }
}

/* FULL MOBILE FIX */
@media (max-width: 600px){
    body{
        padding: 10px;
    }

    .container{
        grid-template-columns: 1fr;
        margin: 10px;
    }

    .about .box{
        flex-direction: column;
    }

    .about .box .year_company{
        margin-bottom: 5px;
    }

    .skills .box{
        grid-template-columns: 1fr;
        text-align: left;
    }

    .interest ul{
        grid-template-columns: 1fr;
    }

    .profiletext .imgbx{
        width: 150px;
        height: 150px;
    }

    .profiletext h2{
        font-size: 1.2em;
    }

    .container .left-side,
    .container .right-side{
        padding: 20px;
    }
}
